# 1. Right Angled Triangle

In [9]:
for i in range(6):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

In [10]:
for i in range(6):
    for j in range(i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

# 2. Inverted Right Angled Triangle

In [11]:
for i in range(5, 0, -1):
    print(' * ' * i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [14]:
for i in range(5):
    for j in range(5 - i):
        print('*', end='  ')
    print()

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

# 3. Pyramid Pattern

In [15]:
for i in range(6):
    print('' * (5 - i) + ' * ' * (2 * i - 1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

# 4. Inverted Pyramid Pattern

In [19]:
for i in range(5, 0, -1):
    print('' *(5 - i)+ ' * ' *(2 * i - 1))

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

# 5. Diamond Pattern

In [21]:
for i in range(1, 6):
    print('' *(5 - i) + ' * ' * (2 * i -1))
for i in range(4, 0, -1):
    print('' *(5 - i) + " * " *(2 * i - 1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

In [29]:
for i in range(1, 6):
    print('' *(5 - i) + ' * ' * (2 * i -1))
for i in range(5, 0, -1):
    print('' *(5 - i) + " * " *(2 * i - 1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

# 6. Hallow Pattern

In [36]:
for i in range(5):
    for j in range(5):
        if i == 0 or i == 4 or j == 0 or j == 4:
            print('*', end = ' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

# 7. Full Square Pattern

In [40]:
for i in range(5):
    print('* ' * 5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [47]:
for i in range(5):
    print('* * * * *')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [48]:
for i in range(5):
    for j in range(5):
        print('*', end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [49]:
for i in range(5):
    for j in range(5, 0, -1):
        print("*", end=' ')
    print(' ')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# 8. Right Angled Triangle(Number Pattern)

In [50]:
for i in range(1, 6):
    print(' '.join(str(x) for x in range(1, i + 1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [56]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [63]:
for i in range(5, 0, -1):
    print(' '.join(str(x) for x in range(1, i+ 1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 10. Floyd's Triangle

In [69]:
num = 1
for i in range(1, 6):
    for j in range(1, i+1):
        print(num, end=' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [67]:
for i in range(6):
    for j in range(1, i + 1):
        print(i*j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

# 11. Hallow Right Angle Triangle

In [82]:
for i in range(1, 6):
    for j in range(1, i + 1):
        if j == 1  or i == j or i == 5:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
* *
*   *
*     *
* * * * *

# 12. Hallow pyramid Pattern

In [93]:
for i in range(1, 6):
    for j in range(5 - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2 or i == 5:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

# 13. Hallow Diamond Pattern

In [98]:
n = 5
for i in range(1, n+1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n-1 , 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

# 14. Hallow Diamond (Number Pattern)

In [104]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

# 15. ButterFly Pattern

In [105]:
n = 5 
for i in range(1, n+1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

In [113]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

# 16. Hallow Number Pyramid

In [117]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1 or i == n:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

# 17. Full Star Pyramid

In [118]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# 18. Inverted Full Star Pyramid

In [ ]:
n = 5
for i in range(n, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        print('

# 19. Left Aligned Pyramid Pattern

In [2]:
n = 5

for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

# 20. Left Aligned Pyramid (Number Pattern)

In [3]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 21. Right Aligned Pyramid Pattern

In [ ]:
n = 5

for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

# ---- Number Pyamid ---- #

n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end= ' ')
    for j in range(i):
        print('*', e)