# SET {} : 
## A set is a collection of unique and unordered items.

- Unique → Duplicate values are automatically removed.
- Unordered → Items don’t have a fixed position or index.
- Mutable → You can add or remove elements.
- Unindexed → You can’t access items by index like set[0]

## SET CREATION :

In [2]:
s = {} # this is not a set, by default dictionary
s

{}

In [3]:
type(s)

dict

In [7]:
s = set([1,2,3,4,5]) # we can create a set by set() function 
s1 = {3,4,5,6,7,8} #or we can create set with {} but we have to add atleast one element

In [8]:
print(s, type(s))
print(s1,type(s1))

{1, 2, 3, 4, 5} <class 'set'>
{3, 4, 5, 6, 7, 8} <class 'set'>

## SET METHODS :

In [12]:
s = {1, 2, 'jan', 1+2j, True, 20.4, 2, 'jan'}

In [13]:
s

{(1+2j), 1, 2, 20.4, 'jan'}

In [16]:
s.add('nit') # add() is insert or add new element into set in ramdom

In [17]:
s

{(1+2j), 1, 2, 20.4, 'jan', 'nit'}

In [18]:
s.add(30)

In [19]:
s

{(1+2j), 1, 2, 20.4, 30, 'jan', 'nit'}

In [21]:
s1 = s.copy() #it copy from existing set,

In [22]:
s1

{(1+2j), 1, 2, 20.4, 30, 'jan', 'nit'}

In [23]:
s1.clear() #it removes all elements and make empty set,it doesn't take parameter
           # it doesn't return anything means None

In [24]:
s1

set()

In [25]:
print(s)

{1, 2, 20.4, (1+2j), 'jan', 'nit', 30}

In [26]:
s.discard(30) #It removes a specific element from a set if it exists.
            #If the element is not present, it doesn't give error.

In [27]:
s

{(1+2j), 1, 2, 20.4, 'jan', 'nit'}

In [28]:
s.discard(100)

In [29]:
s

{(1+2j), 1, 2, 20.4, 'jan', 'nit'}

In [31]:
s.remove('jan') # It removes a specific element from a set.
           #But if the element is not present, it raises a KeyError.

In [32]:
s

{(1+2j), 1, 2, 20.4, 'nit'}

In [33]:
s.remove(5) # element 5 is not present in the set, so it raises a KeyError: 5

KeyError: 5

In [37]:
s.pop() #It removes random element and returns that element from a set.
         # it doesn't take any argument

2

In [38]:
s

{(1+2j), 20.4, 'nit'}

In [39]:
s.pop()

20.4

In [40]:
s

{(1+2j), 'nit'}

In [42]:
s1 = {'a','b','c'}

In [43]:
s1

{'a', 'b', 'c'}

In [44]:
s.update(s1) # It adds all elements from another iterable (like a list, tuple, or another set) 
             #into the current set.

In [45]:
s

{(1+2j), 'a', 'b', 'c', 'nit'}

In [46]:
l = [1, 2, 3, 4]
l

[1, 2, 3, 4]

In [47]:
s.update(l)

In [48]:
s

{(1+2j), 1, 2, 3, 4, 'a', 'b', 'c', 'nit'}

In [49]:
s.update(['10'])

In [50]:
s

{(1+2j), 1, '10', 2, 3, 4, 'a', 'b', 'c', 'nit'}

# SET OPERATIONS :

## UNION ( |, .union()) :
 Combines all uniques elements from both sets

In [51]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [52]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [54]:
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [55]:
print(b.union(a))
print(b|a)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

## INTERSECTION (&, .intersection()) :
 It gives common element from both sets

In [56]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [57]:
a.intersection(b)

{4, 5}

In [58]:
a & b

{4, 5}

In [59]:
c = {7,8,9}
c

{7, 8, 9}

In [60]:
b.intersection(a)

{4, 5}

In [61]:
a.intersection(c)

set()

In [62]:
b.intersection(c)

{7, 8}

## DIFFERENCE (- , .difference()) :
 Finds elements that are in the 1st set but not in the 2nd set

In [64]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 7}

In [65]:
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [66]:
a.difference(c)

{1, 2, 3, 4, 5}

## SYMMETRIC DIFFERENCE (^ , .symmetric_difference()) :
- Formula : a ^ b = (a - b) U (b - a)
- It returns a set that contains all items from both set, but not the items that are present in both sets.
- Meaning: The returned set contains a mix of items that are not present in both sets.

In [67]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 7}

In [68]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [69]:
b.symmetric_difference(a)

{1, 2, 3, 6, 7, 8}

In [70]:
a ^ c

{1, 2, 3, 4, 5, 7, 8, 9}

In [71]:
b ^ c

{4, 5, 6, 9}

In [72]:
b.symmetric_difference(c)

{4, 5, 6, 9}

## SYMMETRIC DIFFERENCE UPDATE(^=, .symmetric_difference_update()) :

- it is very similar to symmetric_difference(), but it updates the original set instead of creating a new one
- This method keeps only the elements that are unique to both sets
- and removes the common ones 
- but instead of returning a new set, it changes the original set.

In [73]:
x = {1,2,3,4,5}
y = {4,5,6,7,8}
z = {8,9,10}

In [74]:
print(x)
print(y)
print(z)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [75]:
x.symmetric_difference_update(y)

In [76]:
print(x)

{1, 2, 3, 6, 7, 8}

In [77]:
x1 = {"apple", "banana", "cherry"}
y1 = {"google", "microsoft", "apple"}

In [78]:
x1 ^= y1

In [79]:
print(x1)

{'cherry', 'microsoft', 'banana', 'google'}

## INTERSECTION UPDATE(&=, intersecte_update()) :

### The intersection_update() finds the intersection of different sets and updates it to the set that calls the method.
- finds common element set1 and set2
- and it update it into original set
### NOTE :
  - intersection() -> gives you common elements in a new set
  - intersection_update() -> keeps only common elements in the original set

In [81]:
p = {1,2,3,4}
q = {3,4,5,6,7}

In [82]:
p.intersection_update(q)

In [83]:
p

{3, 4}

## LOOP THROUGH SET :

In [84]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [85]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [86]:
for i in myset: 
    print(i)

two
eight
one
four
five
seven
six
three

In [87]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'eight')
(2, 'one')
(3, 'four')
(4, 'five')
(5, 'seven')
(6, 'six')
(7, 'three')

## MEMBERSHIP :

In [88]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [89]:
'four' in myset

True

In [90]:
if 'six' in myset:
    print("'six' is present")
else:
    print("'six' is not present")

'six' is present

## OTHER BUILTIN FUNCTION :

In [92]:
print(a)

{1, 2, 3, 4, 5}

In [93]:
print(b)

{4, 5, 6, 7, 8}

In [94]:
sum(a)

15

In [95]:
min(a)

1

In [96]:
min(b)

4

In [97]:
max(a)

5

In [98]:
sorted(a,reverse = True)

[5, 4, 3, 2, 1]

In [99]:
a

{1, 2, 3, 4, 5}

In [100]:
sorted(sorted(a,reverse = True))

[1, 2, 3, 4, 5]